<a href="https://colab.research.google.com/github/ADITHYARAJ27/blind75/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mset={1,2,3}
print(mset)

{1, 2, 3}

In [ ]:

mset.add(4)
print(mset)

{1, 2, 3, 4}

In [ ]:
mset.update([4,5,6,7])
print(mset)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
mset.remove(2)
print(mset)

{1, 3, 4, 5, 6, 7}

In [ ]:
#an element which is not in this will show an error

mset.remove(9)
print(mset)

KeyError: 9

In [ ]:
#where in discard it will not show any error message

mset.discard(9)
print(mset)

In [ ]:
mset.discard(6)
print(mset)

In [ ]:
#pops a randon number from the list

poppeditem=mset.pop()
print(poppeditem)
print(mset)

In [ ]:
#clears all the elemetns in set

mset.clear()
print(mset)

In [ ]:
#union

set1={1,2,3,4}
set2={4,5,6,7}

unionset= set1 | set2
print(unionset)

In [ ]:
#intersection

inte= set1 & set2
print(inte)

In [ ]:
diff = set1 - set2
print(diff)

In [ ]:
#symmetric difference

sd= set1 ^ set2
print(sd)

In [ ]:
#subset and superset

#set1 = 1-100
#set2 = 20-60

#set1 is a superset of set2
#set2 is a subset of set1

In [ ]:
set1 = {1,2,3,4,5}
set2 = {2,3}

print(set1.issubset(set2))
print(set1.issuperset(set2))
print(set2.issubset(set1))

In [ ]:
#disjoint set -  sets which doesnt contain any common elements.

set1={1,2,3,4}
set2={5,6,7}

print(set1.isdisjoint(set2))

True

In [ ]:
set1={1,2,3,4,5}
set2={5,6,7}

print(set1.isdisjoint(set2))

False

In [ ]:
rows = 5

for i in range(1, rows + 1):
    # Print '*' i times
    print('*' * i)

*
**
***
****
*****

Functions

In [ ]:
def function_name(paramter):
  ''' define the function'''
  return value

In [ ]:
#basic function without parameter

def greet():
  print("hello,welcome to blearn")

greet()

hello,welcome to blearn

In [ ]:
#basic funciton with parameters

def greet(name):
  print("hello",name,"welcome to blearn")

greet("adarsh")  #positional arguments
greet(name = "amar")  #keyword arguments

hello adarsh welcome to blearn
hello amar welcome to blearn

In [ ]:
#function with two parameters

def respond(name,age):
  print("hello",name,"and he is",age,"years old")

respond("abhi",26) #posititonal parameter
respond(26,"abhi")

hello abhi and he is 26 years old
hello 26 and he is abhi years old

In [ ]:
#keyword parameter

def respond(name,age):
  print("hello",name,"and he is",age,"years old")

respond(name="abhi",age=22)

hello abhi and he is 22 years old

In [ ]:
#default parameter

def respond(name="amar",age=26):
  print("hello",name,"and he is",age,"years old")

respond("abhi",30)

respond()

hello abhi and he is 30 years old
hello amar and he is 26 years old

In [ ]:
#fucntion with variable arguments

def add(*args):
  return sum(args)

result=add(1,2,3,4,5)
print(result)

15

In [ ]:
num=6
a=0
x=num
while num>0:
  w = a*x
  x+-1
print(w)

KeyboardInterrupt:

In [ ]:
#continuation

In [ ]:
#functions and recurssive fuctions (questions)

In [1]:
#sunm of list

def sum_of_list(num):
  return sum(num)
mylist = [1,2,3]
result = sum_of_list(mylist)
print(result)

6

In [2]:
#perimeter of a rectangle

def perime(a,b):
  return 2*(a+b)
a=2
b=3
result = perime(a,b) #perime(2,3)
print(result)

10

In [3]:
#exponenitial

def power(base,exponent):
  if exponent == 0:
    return 1
  return base * power(base, exponent-1)
print(power(2,3))

8

In [4]:
#minimum

def findmini(num):
  return min(num)
print(findmini([4,2,1,5]))

1

In [5]:
#maximum

def maximum(num):
  return max(num)
m=[2,5,6,20]
result=maximum(m)
print(result)

20

In [6]:
#kilometers to meters

def km_to_m(num):
  return num * 1000
print(km_to_m(5),"m")

5000 m

In [7]:
#fahrenheit to celsius

def fahren(f):
  c=(f-32)*5/9
  return c
print(fahren(102))

38.888888888888886

In [8]:
#count vowels

def count_vowels(text):
  vowel="aeiouAEIOU"
  count=0
  for char in text:
    if char in vowel:
      count+=1
  return count

user_input=input("enter your name: ")
print("number of vowels")
count_vowels(user_input)

enter your name: aaq
number of vowels

2

In [9]:
#lamda function

add_lambda = lambda x,y:x+y
print(add_lambda(3,5))

8

In [10]:
#square

square = lambda x:x*x
print(square(2))

4

In [11]:
# Map syntax

# map(fucntion, listname)

In [12]:
#map()

num=[1,2,3,4]
squares = list(map(lambda x:x*x, num))
print(squares)

[1, 4, 9, 16]

In [13]:
#celsius to fahrenheit using lambda fucniton

celsius = [0.0, 10.0, 20.0, 30.0]
fahren  = list( map( lambda x: (x*9/5)+32,celsius )) #map(function,list name)
print(fahren)

[32.0, 50.0, 68.0, 86.0]

In [14]:
#filter

#filter(function,list name)

In [15]:
num = [1,2,3,4,5,5,6,]
eve = list(filter(lambda x: x%2==0, num ))
print(eve)

[2, 4, 6]

In [16]:
marks = [30,20,60,59,80]
grade = list(filter(lambda x:x>=60,marks))
print(grade)

[60, 80]